<p>Dear <%= name %>,</p>
<p>Thanks for signing up for our NestJS API. We are happy to have you on board</p>
<p>Here are your account details:</p>
<ul
    style="
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2em;
        color: #333;
        padding-left: 20px;
    "
>
    <li style="color: #555;">Email: <%= email %></li>
    <li style="color: #555;">Login URL: <%= loginUrl %></li>
</ul>

<p>Thanks for using our service</p>
<p>Best Regards</p>
<p>The NestJS API Team</p>